@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.weather {
  margin: 0 auto;
  padding: 80px 0 55px 0;
  width: 800px;
  background-color: #4e5860;
  background-image: radial-gradient(at top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0) 50%);
}

.widget {
  margin: 0 auto;
  width: 390px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 21px 21px 4px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0,0,0, 0.07);
}

.weather_info::before {
  content: "";
  display: block;
  margin: 10px 10px 0 0;
  width: 20px;
  height: 20px;
  background-image: url('images/refresh.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: top right;
  align-self: flex-end;
}

.weather_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  background-color: #f1f8f9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.weather_info img {
  margin: 50px 0 30px 0;
}

.weather_info ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}

.weather_info ul li {
  padding: 10px 15px;
}

.weather_info ul li:first-child {
  padding-left: 20px;
  padding-right: 0;
  font-family: 'Proxima Nova Light', sans-serif;
  font-size: 58px;
  font-weight: 100;
  text-align: center;
  color: #8d9396;
}

.weather_info ul li:nth-child(2) {
  flex-basis: 50%;
  padding-left: 0;
}

.weather_info ul li span {
  display: block;
}

.weather_info ul li:nth-child(2) span {
  font-family: 'Source Sans Pro Light',  sans-serif;
  font-size: 24px;
  font-weight: 100;
  text-align: left;
  color: #bac2c6;
}

.weather_info ul li:nth-child(2) span:last-child {
  font-family: 'Source Sans Pro Semibold', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #a2a9ad;
}

.weather_info ul li:nth-child(3) {
  background-color: #54bae6;
}

.weather_info ul li:nth-child(3) span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  line-height: 22px;
}

.weather_info ul li:nth-child(3) span:last-child {
  font-size: 18px;
}

.weather_params {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e3335;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.weather_params ul {
  padding: 20px 0 15px 0;
}

.weather_params ul li {
  display: inline-block;
}

.weather_params ul:first-child {
  margin: 0;
  padding-top: 40px;
  width: 100%;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.weather_params ul:first-child li{
  padding-right: 25px;
  vertical-align: middle;
}

.weather_params ul:first-child li:first-child{
  padding-left: 50px;
}

.weather_params ul:first-child li:last-child{
  padding-right: 50px;
}

.weather_params ul:first-child span{
  padding-left: 20px;
  line-height: 22px;
  vertical-align: top;
}


.weather_params ul:last-child li {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border: 2px solid #44494a;
}

.weather_params ul:last-child li#active {
  background-color: #fff;
  border: 2px solid #fff;
}
