body, html {
    height: 100%;
}

img {
    max-width: 100%;
}

.bg-image {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(6px);
    height: 100%;
}

.page-box {
    position: absolute;
    top: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-box {
    width: 90%;
    height: 80%;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.forecast-small {
    background-color: purple;
}

.cell {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.half-cell {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-cell {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.weather-icon {
    max-height: 50%;
    filter: drop-shadow(30px 10px 4px #4444dd);
}

.icon-small {
    width: 60%;
}

.weather-icon#weather-current {
    width: auto;
    max-height: 75%;
}

.svg {
    filter: brightness(100);
}

#c1 {
    background-color: lightskyblue;
}

#c2 {
    background-color: lightgreen;
}

#c3 {
    background-color: mediumblue;
}

#c4 {
    background-color: orange;
}

#c5 {
    background-color: mediumorchid;
}

#c6 {
    background-color: mediumpurple;
}