body {
    font-family: ﻿Lato-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    color: white;
}

.background {
    height: 600px;
    width: 800px;
    background-color: #213546;
    background-image: url(image/Light_source@1X.png);
    background-repeat: no-repeat;
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.city_photo {
    background-image: url(image/Paris@1X.png);
    height: 435px;
    width: 696px;
}

.date {
    height: 0px;
    width: 200px;
    text-align: left;
    margin-top: 60px;
}

.temperature_data {
    text-align: left;
}

.day {
    font-size: 30pt;
    text-align: left;
    margin-left: 364px;
}

.month {
    font-size: 14pt;
    text-align: left;
    margin-left: 364px;
}

.temperature {
    font-family: ﻿Lato-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, monospace;
    font-weight: 900;
    font-size: 92.42px;
    line-height: 88px;
    margin-left: 476px;
}

.country {
    font-size: 22.24pt;
    margin-left: 476px;
}

.wind {
    font-size: 29.35pt;
}

.mph {
    font-family: ﻿Lato-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12.97pt;
}

.wind_img {
    margin-left: 476px;
}

.light_grey {
    position: absolute;
    bottom: 100px;
    right: 56px;
}

.week {
    height: 42px;
    width: 100%;
}

td {
    font-size: 14pt;
    text-align: center;
    vertical-align: center;
}

table {
    padding: 100px 0 0;
    width: 100%;
}

.cell {
    width: 23%;
    border-right: 1px solid white;
}
