html, body {
    padding: 0;
    margin: 0;
    background: #1b2d3c;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.main-component {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 696px;
    height: 435px;
    background-image: url('img/paris.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.detail-weather {
    margin-right: 80px;
    margin-top: 67px;
}

.date {
    margin-top: 95px;
    margin-right: 20px;
}

.detail-weather li {
    text-align: justify;
}

.grade {
    font-size: 5.5em;
    font-weight: 900;
}

.city {
    font-size: 1.5em;
    font-weight: 100;
}

.day {
    font-size: 2.1em;
}

.wind span.bold-text {
    font-size:2em;
}

.wind span {
    font-size:0.9em;
}

.switch { 
    display: flex;
    align-self: flex-end;
    position: absolute;
    width: inherit;
}

.day-switch {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}

.days-info {
    display:inline-block;
    text-align: center; 
    vertical-align: top;
    margin:0 30px;
}

.vertical-line{ 
    height: 80%;
    border-right: 1px solid rgba(255,255,255,0.3);
    margin-top:0.6em;
}

.switch-btn {
    background: none;
    color: #fff;
    font-size:1.5em;
    border:none;
    z-index: 3;
    position: absolute;
    display: flex;
    cursor:pointer;
    align-self:center;
}

.left-btn {
    left:10%;
}

.right-btn {
    right:10%;
}

span.bold-text {
    font-weight: bold;
}

.days-info_text {
    font-weight: 100;
    margin: 3px;
    display: block;
}