body {
    font-family: ﻿Lato-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    color: white;
}

.background {
    height: 37.5em;
    width: 50em;
    background-color: #213546;
    background-image: url(image/Light_source@1X.png);
    background-repeat: no-repeat;
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.city_photo {
    background-image: url(image/Paris@1X.png);
    height: 27em;
    width: 43.5em;
}

.date {
    height: 0em;
    width: 12.5em;
    text-align: left;
    margin-top: 3.75em;
}

.temperature_data {
    text-align: left;
}

.day {
    font-size: 2.3em;
    text-align: left;
    margin-left: 350px;
}

.month {
    font-size: 1em;
    text-align: left;
    margin-left: 350px;
}

.temperature {
    font-family: ﻿Lato-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, monospace;
    font-weight: 900;
    font-size: 7em;
    line-height: 88px;
    margin-left: 476px;
}

.country {
    font-size: 1.6em;
    margin-left: 476px;
}

.wind {
    font-size: 2em;
}

.mph {
    font-family: ﻿Lato-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 1em;
}

.wind_img {
    margin-left: 476px;
}

.light_grey {
    position: relative;
    bottom: 6.7em;
}

.week {
    height: 20%;
    width: 100%;
}

td {
    font-size: 1.16em;
    text-align: center;
    vertical-align: center;
}

table {
    padding: 7.5em 0 0;
    width: 100%;
}

.cell {
    width: 23%;
    border-right: 1px solid white;
}
