html {
	font-family: 'Open Sans Condensed', sans-serif;
}

.container {
	background-color: #4e5860;
	background-image: url(pics/tokyo.jpg);
	width: 800px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.left_sec {
	background-color: white;
	background-image: url(pics/tokyo.jpeg);
	width: 300px;
	height: 400px;
	position: relative;
	font-weight: 500;
}

.right_sec {
	background-color: white;
	color: #771C21;
	border-left-style: solid;
	border-width: 1px;
	width: 300px;
	height: 400px;
	position: relative;
	font-weight: 700;
}

.icon {
	width: 300px;
	height: 200px;
	text-align: center;
}

li {
	list-style-type: none;
}

ul {
	padding: 0;
	margin: 0;
}

.weather {
	background-color: rgba(0, 0, 0, 0.50);
	color: white;
	width: 300px;
	height: 100px;
	font-size: 56px;
	text-align: center;
	margin: 0;
}

.calendar {
	background-color: rgba(255, 0, 0, 0.50);
	color: white;
	width: 300px;
	height: 70px;
	font-size: 24px;
	text-align: center;
	padding: 30px 0 0 0;
}

.temperature {
	height: 100px;
	font-size: 76px;
	text-align: center;
	margin: 0px;
}

.graph {
	text-align: center;
}

.future_weather {
	height: 200px;
	font-size: 19px;
	text-align: center;
	color: white;
	margin: 0;
}

.row {
	color: #771C21;
	height: 200px;
	display: flex;
	flex-direction: row;
	margin: 0;
}

.first_day {
	margin: 0 0 0 25px;
}

.second_day {
	margin: 0 0 0 25px;
}

.third_day {
	margin: 0 20px 0 25px;
}