@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900');

html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
    background: #162938; /* for old browsers */
    background: radial-gradient(circle at 50% 0px, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 60%, #182a38 100%), linear-gradient(to bottom, #2f4151 0%, #162837 100%);
    background-repeat: no-repeat;
}

.wrapper {
    padding-top: 69px;
    display: flex;
    justify-content: center;
    min-width: 696px;
}

.weather-widget {
    background-image: url("img/Paris.png");
    background-repeat: no-repeat;
    height: 435px;
    width: 696px;
}

.main-section {
    font-weight: 300;
    margin: 78px 78px 0 0;
    display: flex;
    justify-content: flex-end;
}

.main-section-date {
    margin-right: 25px;
    width: 81px;
}

.main-section-date :first-child {
    font-size: 1.875em;
}

.main-section-date :last-child {
    font-size: 0.875em;
}

.main-section-weather {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 150px;
}

.main-section-weather :first-child > strong {
    font-weight: 900;
    font-size: 92.42px;
    line-height: 84px;
    margin-right: 11px;
}

.main-section-weather :nth-child(2) > strong {
    font-weight: 900;
    font-size: 44.48px;
    line-height: 27px;
}

.main-section-weather :nth-child(3) {
    font-size: 22.24px;
    margin-bottom: 20px;
}

.main-section-weather :last-child > :first-child {
    padding-left: 10px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 29.35px;
}

.main-section-weather :last-child > :last-child {
    font-weight: 700;
    font-size: 12.97px
}

.weekly-section {
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 108px;
    padding: 0 67px 0 59px;

}

ul {
    width: 100%;
    justify-content: center;
    display: flex;
    font-weight: 300;
    font-size: 15.44px;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 30px;
    list-style-type: none;
}

ul li span sup {
    font-size: 7.72px;
}

ul li :last-child {
    margin-top: 5px;
}

.weekly-section ul li div {
    height: 40px;
}

.divider {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 81px;
}

.next {
    transform: rotate(180deg);
}